@charset "UTF-8";
@use 'setting' as s;
@use 'common';


//header
.header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header__logo {
    width: 160px;
    height: auto;
    left: 0;
}
.hamburger {
    display: flex;
    flex-direction: column;
}
.hamburgerMenu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  border: none;
  cursor: pointer;
}
.hamburgerMenu span{
    width: 100%;
    height: 2px;
    background-color: #fff;
}
.menu__list {
    display: none;
}

//about

.about__title{
    display: flex;
    font-size: 32px;
    color: #fff;
    margin: 30px auto;
    align-items: center;
}
.about__title::before{
    content: '';
    display: block;
    width: 40px;
    height: 1px;
    background-color: #fff;
    margin-right: 24px;
}
.about__container{
    display: flex;
    gap: 48px;
    margin-bottom: 120px;
    align-items: center;
    justify-content: center;
}
.about__item {
    flex: 1;
}

.about__sbTitle{
    font-size: 29px;
    margin-bottom: 48px;
    color: #fff;
}

.about__text{
    color: #fff;
}
.about__text:first-of-type{
    margin-bottom: 32px;
}
@media screen and (max-width: 768px){
    .about__container {
        flex-direction: column;
    }
}
