@charset "UTF-8";
@use 'setting' as s;
@use 'common';

//header
.header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header__logo {
    width: 160px;
    height: auto;
    left: 0;
}
.hamburger {
    display: flex;
    flex-direction: column;
}
.hamburgerMenu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  border: none;
  cursor: pointer;
}
.hamburgerMenu span{
    width: 100%;
    height: 2px;
    background-color: #fff;
}
.menu__list {
    display: none;
}

.products__title {
    display: flex;
    font-size: 32px;
    color: #fff;
    margin: 30px auto;
    align-items: center;
}
.products__title::before{
    content: '';
    display: block;
    width: 40px;
    height: 1px;
    background-color: #fff;
    margin-right: 24px;
}
//products
.products__grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 35px;
    margin-bottom: 120px;
}
.products__item img {
    margin-bottom: 4px;
}
.products__text{
    color: #fff;
}

//pickup
.pickup__grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 71px;
    margin-bottom: 120px;
}


@media screen and (max-width: 768px){
    .pickup__grid{
        flex-direction: column;
          grid-template-columns: 1fr;
    }
    .products__grid{
        grid-template-columns: repeat(2,1fr);
        gap: 8px;
    }
}