@charset "UTF-8";
/*-------------------------------------------
共通クラス
-------------------------------------------*/
body {
  font-family: "Hiragino Mincho Pro", "Hiragino Mincho ProN", "Yu Mincho", YuMincho, HGS明朝E, メイリオ, Meiryo, serif;
  letter-spacing: 0.1em;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

a:hover {
  opacity: 0.85;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.body {
  background: #353535;
}

.main {
  position: relative;
}

/*-------------------------------------------
共通パーツの指定
-------------------------------------------*/
.u-wrapper {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}
@media screen and (max-width: 900px) {
  .u-wrapper {
    padding: 0px 15px;
  }
}

/* ここから記述します。 */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 160px;
  height: auto;
  left: 0;
}

.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hamburgerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 22px;
  border: none;
  cursor: pointer;
}

.hamburgerMenu span {
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.menu__list {
  display: none;
}

.products__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 32px;
  color: #fff;
  margin: 30px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__title::before {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background-color: #fff;
  margin-right: 24px;
}

.products__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
  margin-bottom: 120px;
}

.products__item img {
  margin-bottom: 4px;
}

.products__text {
  color: #fff;
}

.pickup__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 71px;
  margin-bottom: 120px;
}

.footer__container {
  background-color: #fff;
  padding: 48px 0;
}

.footer__logo {
  width: 160px;
  height: auto;
  margin-bottom: 16px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}

.footer__item {
  font-size: 14px;
}

.footer__copy {
  font-size: 14px;
}