@charset "UTF-8";

@use 'common';
@use 'about';
@use 'company';
@use 'products';
@use 'item1';

//header
.header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    width: 100%;
}
.header__logo {
    width: 160px;
    height: auto;
}

//hamburger
.hamburger {
    display: flex;
    flex-direction: column;
}
.hamburgerMenu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  border: none;
  cursor: pointer;
  z-index: 1100;

}

.hamburgerMenu span{
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: relative;
    transition: all 0.5s;
}
.menu__logo{
    margin-bottom: 24px;
    width: 160px;
}
.header__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background: #fff;
  z-index: 2000;
  display: block;
  padding: 60px 25px;
  opacity: 0;
    overflow-y: auto;
  -webkit-overflow-scrolling: touch;
    transition: all 0.5s;
}
.header__menu.active{
    left: 0;
    opacity: 1;
}
.header__menu.active .menu__list {
  display: block;
}
.menu__list {
    margin-top: 60px;
    list-style: none;
}
.menu__link{
     color: #121212;
    text-decoration: none;
     display: block;
}
.menu__item {
    margin-bottom: 20px;
}
.hamburgerMenu.active span:nth-child(1){
  transform: translateY(10px) rotate(-45deg);
  background: #fff;
   transition: all 0.5s;
}
.hamburgerMenu.active span:nth-child(2){
    opacity: 0; transition: all 0.5s;
}
.hamburgerMenu.active span:nth-child(3) {
  transform: translateY(-10px) rotate(45deg);
   transition: all 0.5s;
}
.menu__mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 900;
}

.menu__mask.active {
  opacity: 1;
  visibility: visible;
}

//grid
.grid__container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 35px;
    width: 100%;
    margin-bottom: 80px;
     grid-template-areas:
     "item1 item2 item3 item4"
     "item1 item5 item6 item7";
}
     @media screen and (max-width: 768px){
    .grid__container {
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    "item1 item1"
    "item2 item3"
    "item4 item5"
    "item6 item7";
    gap: 28px;
     }
    }
.grid__item{
    height: 100%;
}
.grid__item:nth-child(1) {
    grid-area: item1;
}
.grid__item:nth-child(2) {
    grid-area: item2;
}
.grid__item:nth-child(3) {
    grid-area: item3;
}
.grid__item:nth-child(4) {
    grid-area: item4;
}
.grid__item:nth-child(5) {
    grid-area: item5;
}
.grid__item:nth-child(6){
    grid-area: item6;
}
.grid__item:nth-child(7) {
    grid-area: item7;
}
.grid__item img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 4px;
    vertical-align: top;
}

.grid__img:nth-child(1) {
    height: calc(100% - 70px);
}
.grid__text {
    color: #fff;
}
.gridmore{
    display: flex;
    justify-content: center;
}
.gridBtn {
    color: #fff;
    padding: 10px 60px;
     border: 1px solid #fff;
     text-align: center;
     margin-bottom: 120px;
}

//sidebar
.sidebar {
  display: flex;
  //flex-direction: column-reverse;
  align-items: center;
  font-size: 15px;
  position: absolute;
  gap: 2px;
  padding-bottom: 10px;
  transform: rotate(-90deg) ;
  transform-origin: left;
  left: 28px;
  top: 50%;
}

.sidebar::before{
    content: '';
    display: block;
    height: 1px;
    width: 40px;
    background-color: rgba(255,255, 255, 0.4); ;
    margin-right: 24px;
}
.side__text {
    color: rgba(255,255, 255, 0.4);
}
//footer
.footer__container{
    background-color: #fff;
    display: flex;
    height: 160px;
}
.footer__logo{
    width: 160px;
    height: auto;
    margin-bottom: 16px;
}
.footer__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
}
.footer__list {
    display: flex;
    gap: 28px;
}
.footer__item{
    font-size: 14px;
}
.footer__copy {
    font-size: 14px;
    color: #121212;
}
     @media screen and (max-width: 768px){
        .footer__container {
        align-items: center;
        height: fit-content;
        flex-direction: column;
        padding: 48px 0 ;
        }
        .footer__box{
            flex-direction: column;
        }
        .footer__inner{
        flex-direction: column;
        align-items: center;
        }
        .footer__list{
            flex-direction: column;
            margin-bottom: 40px;
            justify-content: center;
            align-items: center;
        }
        .footer__logo{
             align-self: center;
             margin-bottom: 24px;
        }
     }